<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application

        android:allowBackup="true"
        android:windowSoftInputMode="adjustResize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PronadjiMajstora"
        tools:targetApi="31">

        <!-- Glavna aktivnost (Login) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registracija -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Home ekrani -->
        <activity
            android:name=".HomeCraftsmanActivity"
            android:exported="false" />
        <activity
            android:name=".HomeCustomerActivity"
            android:exported="false" />

        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:label="Profil korisnika"
            android:parentActivityName=".HomeCustomerActivity"/>


        <activity
            android:name=".ProfileSetupActivity"
            android:theme="@style/Theme.PronadjiMajstora"/>


        <activity
            android:name=".EditProfileActivity"
            android:label="Uredi profil"
            android:parentActivityName=".ProfileActivity"/>

    </application>

</manifest>